
:root {
    --primary-color: greenyellow;
    --secondary-color: blue;
    --third-color: red;
}

#happy {
    background-color: var(--primary-color);
    border-radius: 10%;
    width: 35vw;
    height: 20vh;
    cursor: pointer;
    padding: 2vh;
    margin-bottom: 5vh;
    transition: 1s ease;
    border: none;
}

#happy:hover {
    background-color: green;
}

#happy:active {
    background-color: rgb(23, 193, 96);
    transition: none;
}

#netral {
    width: 50vw;
    height: 10vh;
    margin-bottom: 10vh;
    border-radius: 5%;
    border: none;
    background-color: var(--secondary-color);
    transition: 0.5s ease-out;
    cursor: pointer;
}

#netral:hover {
    background-color: aqua;
}

#netral:active {
    opacity: 50%;
    transition: none;
}

#sad {
    cursor: pointer;
    width: 30vw;
    height: 40vh;
    border-radius:5% ;
    border: none;
    background-color: var(--third-color);
    transition: 0.5s ease-in-out;
}

#sad:hover {
    background-color: lightcoral;
}

#sad:active {
    opacity: 70%;
    transition: none;
    width: 29.9vh;
    height: 39vh;
}