:root {
    --primary-color: seagreen;
    --second-color: yellow;
    --third-color: red;
    --background-color: whitesmoke;
}

#happy {
    background-color: var(--primary-color);
    outline: 2cm auto var(--background-color);
    padding: 2cm;
    margin: 2vw;
    cursor: pointer;
    transition: 2s ease-out;
    width: 50vw;
}

#happy:hover {
    background-color: greenyellow;
}

.neutral {
    background-color: var(--second-color);
    outline: 2cm auto var(--background-color);
    padding: 1cm;
    margin: 3vh;
    cursor: pointer;
    width: 50vw;
    transition: 1s ease-in;
}

.neutral:hover {
    width: 70vw;
}

#sad {
    background-color: var(--third-color);
    outline: 2cm auto var(--background-color);
    padding: 2.5cm;
    margin: 1vw;
    cursor: pointer;
    width: 50vw;
    transition:500ms ease-in-out;
}

#sad:hover {
    color: white;
}