:root {
    --first-color: #1a1a1b;
    --second-color: #2563EB;
    --third-color: #212423;
    --fourth-color: #F59E0B;
    --fifth-color: #EF4444;
    --gray-color: #747070;
    --another-calc-color: #23222b;
    --border-color-calc: #a59da1;
    --big-box-color: #000000;
    --white-color: aliceblue;
    --brightness-color: #bbc2bb;
}

body {
    background-color: var(--first-color);
}

.brightness {
    background-color: var(--brightness-color);
    place-self: center;
    width: 5vw;
    height: 5vw;
    place-content: center;
    cursor: pointer;
    border-radius: 5%;
    border: none;
    transition: all 0.3s ease;
}

.brightness:hover {
    opacity: 40%;
}

h1 {
    color: #EF4444;
}

.container {
    margin: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kalkulator {
    background-color: #030a1f;
    text-align: center;
    width: 80vw;
    height: 75vh;
    border: var(--border-color-calc) solid 2px;
    display: grid;
    grid-template-areas: 
        "box_besar box_besar box_besar box_besar"
        "tambah kurang hapus hapus_semua"
        "box_7 box_8 box_9 pangkat"
        "box_4 box_5 box_6 bagi"
        "box_1 box_2 box_3 kali"
        "koma box_0 titik sama_dengan"
    ;
    gap: 0.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;

}

.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8, .box_9, .box_0 {
    background-color: var(--gray-color);
    width: 100%;
    height: 100%;
    place-self: center;
    place-content: center;
    cursor: pointer;
    border-radius: 5%;
    border: none;
}

.tambah, .kali, .kurang, .bagi, .sama_dengan, .pangkat, .hapus, .hapus_semua, .koma, .titik {
    background-color: var(--another-calc-color);
    color: var(--white-color);
    width: 100%;
    height: 100%;
    place-self: center;
    place-content: center;
    cursor: pointer;
    border-radius: 5%;
    border: none;
}

.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8, .box_9, .box_0, .tambah, .kali, .kurang, .bagi, .sama_dengan, .pangkat, .hapus, .hapus_semua, .koma, .titik {
    transition: all 0.3s ease;
}

.box_1:hover, .box_2:hover, .box_3:hover, .box_4:hover, .box_5:hover, .box_6:hover, .box_7:hover, .box_8:hover, .box_9:hover, .box_0:hover, .tambah:hover, .kali:hover, .kurang:hover, .bagi:hover, .sama_dengan:hover, .pangkat:hover, .hapus:hover, .hapus_semua:hover, .koma:hover, .titik:hover {
    opacity: 40%;
}

.box_besar {
    color: var(--white-color);
    background-color: var(--big-box-color);
    width: 100%;
    height: 100%;
    cursor: default;
    place-self: center;
    place-content: center;
    border: none;
    grid-area: box_besar;
    border-bottom: var(--third-color) solid 0.3vw;
    transition: all 1s ease;
    text-align: right;
    font-size: 5vw;
}

.box_0 {
    grid-area: box_0;
}

.box_1 {
    grid-area: box_1;
}
.box_2 {
    grid-area: box_2;
}
.box_3 {
    grid-area: box_3;
}
.box_4 {
    grid-area: box_4;
}
.box_5 {
    grid-area: box_5;
}
.box_6 {
    grid-area: box_6;
}
.box_7 {
    grid-area: box_7;
}
.box_8 {
    grid-area: box_8;
}
.box_9 {
    grid-area: box_9;
}
.tambah {
    grid-area: tambah;
}
.bagi {
    grid-area: bagi;
}
.sama_dengan {
    grid-area: sama_dengan;
}
.kali {
    grid-area: kali;
}
.pangkat {
    grid-area: pangkat;
}
.kurang {
    grid-area: kurang;
}

.hapus_semua {
    grid-area: hapus_semua;
}

.hapus {
    grid-area: hapus;
}

.koma {
    grid-area: koma;
}

.titik {
    grid-area: titik;
}