.parent {
  position: relative;       /* biar anak absolute punya "rumah tumpangan" */
  width: 300px;
  height: 200px;
  background: lightgray;
  border: 2px solid black;
  margin: 20px auto;
}

.relative {
  position: relative;
  right: 100px;              /* geser ke kiri 50px */
  width: 100px;
  height: 50px;
  background: tomato;
  color: white;
  text-align: center;
  line-height: 50px;
}

.absolute {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 100px;
  height: 50px;
  background: dodgerblue;
  color: white;
  text-align: center;
  line-height: 50px;
}
