* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    background-color: aqua;
}

.fixed-position {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: coral;
}

.container {
    margin-top: 100px;
}