* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;
    color: crimson;
}

ol { /*Kalau gk pake maka akan jadi kek biasa angka doang */
    list-style-type: lower-roman;
    list-style-type: upper-latin;
    list-style-type: lower-latin;
    list-style-type: upper-roman;
    list-style-type: lower-alpha;
    list-style-type: decimal;
}

ul {
    width: 400px;
}

ul li {
    margin: 10px;
    /* list Posisi */
    list-style-position: inside; /* default nya adalah outside */
}

ol.singkat {
    list-style: lower-greek inside;
}

ul.singkat {
    list-style: circle inside;
}