input {
    font-size: 120%;
    background-color: #efefef;
    color: darkslategray;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: block;
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 40px;
    background-position: 8px;
}

input:focus {
    background-color: #ffffff ;
}

input#email {
    background-image: url(../image/email.png);
}

input#instagram {
    background-image: url(../image/instagram.png);
}

input#web {
    background-image: url(../image/web.png);
}

input#submit {
    color: #efefef;
    text-shadow: 1px 1px 5px #ffffff;
    background-color: darkslategray;
    padding: 5px 10px 5px 10px;
}

input#submit:hover {
    color: orange;
    background-color: indigo;
    cursor: pointer;
}

input#submit:active {
    color: lawngreen;
    background-color: lightcoral;
}

input#email:hover, input#web:hover, input#instagram:hover {
    background-color: bisque;
}

input#email:active, input#web:active, input#instagram:active {
    background-color: azure;
}