body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    font-size: 20px;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr;
    margin: 30px;
}


.box1, .box2, .box5, .box6, .box9, .box10 {
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    animation: scrolling-right linear both;
    animation-delay: -2s;
    animation-timeline: view();
    animation-range: ;
}

.box3, .box4, .box7, .box8, .box11, .box12 {
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    animation: scrolling-left linear both;
    animation-delay: -2s;
    animation-timeline: view();
    animation-range: ;
}

@keyframes scrolling-right {
    from {
        opacity: 0;
        transform: translateX(-600px);
    }
    to {
        opacity: 1;
        transform: translateX(600px);
    }
}

@keyframes scrolling-left {
    from {
        opacity: 0;
        transform: translateX(600px);
    }
    to {
        opacity: 1;
        transform: translateX(-600px);
    }
}
