body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px crimson;
  animation: demoAnim 4s infinite alternate ease-in-out;
}

/* ANIMASI MULTI-PROPERTY */
@keyframes demoAnim {
  0% {
    /* Warna */
    background-color: crimson;
    color: white;

    /* Visual */
    opacity: 0.5;
    box-shadow: 0 0 10px crimson;

    /* Ukuran */
    width: 100px;
    height: 100px;

    /* Posisi */
    transform: translateX(0) rotate(0deg);
  }

  100% {
    /* Warna */
    background-color: limegreen;
    color: black;

    /* Visual */
    opacity: 1;
    box-shadow: 0 0 30px limegreen;

    /* Ukuran */
    width: 150px;
    height: 150px;

    /* Posisi */
    transform: translateX(200px) rotate(180deg);
  }
}
