body{
    background-color: black;
}

.box {
    width: 200px;
    height: 200px;
    background-color: cyan;
    margin: 100px auto;
    
    transition-property: transform, background-color, scale;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.box:hover {
    transform: rotate(135deg);
    background-color: magenta;
    scale: 3;
}